@import 'tailwindcss';
@import 'uniwind';

@layer theme {
  :root {
    @variant dark {
      /** Backgrounds */
      --color-background: oklch(0.1353 0.0666 304.987);
      --color-foreground: var(--color-foreground-fixed);
      --color-background-gradient: oklch(0.1353 0.0666 304.987);
      /** Text */
      --color-text-base: var(--color-neutral-100);
      --color-text-maximal: var(--color-white);
      --color-text-minimal: var(--color-neutral-400);
      /** Borders */
      --color-border-default: var(--color-neutral-700);
      /** NativeTabs */
      --native-tabs-color: var(--color-neutral-100);
      --native-tabs-icon-color: var(--color-neutral-100);
      --native-tabs-tint-color: var(--color-violet-500);
      --native-tabs-ripple-color: var(--color-neutral-900);
      --native-tabs-indicator-color: var(--color-black);
      /** Skeleton */
      --skeleton-gradient-start: var(--color-neutral-900);
      --skeleton-gradient-end: var(--color-neutral-600);
    }

    @variant light {
      /** Backgrounds */
      --color-background: var(--color-violet-100);
      --color-foreground: var(--color-violet-50);
      --color-background-gradient: var(--color-white);
      /** Text */
      --color-text-base: var(--color-neutral-700);
      --color-text-maximal: var(--color-black);
      --color-text-minimal: var(--color-neutral-400);
      /** Borders */
      --color-border-default: var(--color-neutral-200);
      /** NativeTabs */
      --native-tabs-color: var(--color-black);
      --native-tabs-icon-color: var(--color-neutral-700);
      --native-tabs-tint-color: var(--color-violet-500);
      --native-tabs-ripple-color: var(--color-violet-50);
      --native-tabs-indicator-color: var(--color-white);
      /** Skeleton */
      --skeleton-gradient-start: var(--color-neutral-100);
      --skeleton-gradient-end: var(--color-neutral-300);
    }
  }
}

@theme {
  --font-normal: 'Poppins_400Regular';
  --font-medium: 'Poppins_400Regular';
  --font-semibold: 'Poppins_600SemiBold';
  --font-bold: 'Poppins_600SemiBold';

  /* Spacing for margin on screens */
  --spacing-screen: 14px;
  /* Spacing for tablet landscape */
  --spacing-screen-lg: 200px;
  /* Cover on content screen */
  --spacing-cover: 450px;
  --spacing-cover-top: 150px;
  --spacing-cover-without-top: 300px;

  /** Colors */
  --color-foreground-fixed: oklch(0.1765 0.0765 304.987);

  /** Networks colors */
  --color-network-apple-tv-plus: #323232;
  --color-network-disney-plus: #049faa;
  --color-network-fox: #0086db;
  --color-network-hbo: #7b2abf;
  --color-network-hulu: #1ee783;
  --color-network-netflix: #e50914;
  --color-network-paramount-plus: #0064ff;
  --color-network-amazon-prime-video: #1c97fe;
  --color-network-showtime: #ff1928;

  /** Genres colors */
  --color-genre-adventure: #00b109;
  --color-genre-fantasy: #bea501;
  --color-genre-animation: #d3ab35;
  --color-genre-drama: #b68198;
  --color-genre-horror: #ef263f;
  --color-genre-action: #8b4cbf;
  --color-genre-comedy: #03a8e1;
  --color-genre-history: #fe5300;
  --color-genre-western: #ff5409;
  --color-genre-thriller: #32835b;
  --color-genre-crime: #e40027;
  --color-genre-documentary: #1bbf93;
  --color-genre-sci-fi: #6ead8f;
  --color-genre-mystery: #b96d52;
  --color-genre-music: #69ce00;
  --color-genre-romance: #e84294;
  --color-genre-family: #3255fe;
  --color-genre-war: #d6c027;
  --color-genre-action-adventure: #03a8e1;
  --color-genre-kids: #69ce00;
  --color-genre-news: #758f9a;
  --color-genre-reality: #7657b7;
  --color-genre-sci-fi-fantasy: #988401;
  --color-genre-soap: #e84294;
  --color-genre-talk: #006cd3;
  --color-genre-war-politics: #d6c027;
  --color-genre-tv-movie: #006cd3;
}
